.wraper{
    width: 500px;
    margin: 10px auto;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
}

.appWraper{
    text-align: center;
}
.content-field{
    display: flex;
    margin-bottom: 15px;
}
.comment-field input,
.comment-field textarea {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    resize: none;
    flex: 1;
}
.content-name{
    display: flex;
    flex-basis: 100px;
    font-size: 14px;
}

.name-input{
    border: 1px solid #e6e6e6;
    width: 400px;
}
.button-push{
    display: flex;
    justify-content: flex-end;
}
.button-push button {
    padding: 5px 10px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: #00a3cf;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.button-content{
    padding: 10px;
}
.list-item{
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 50px;
}
.list-item span {
    color: #00a3cf;
    font-style: italic;
}
.list-item.name{
    flex-shrink: 0;
}
.list-item p {
    margin: 0;
    /*text-indent: 2em;*/
}