
/*
    整个body的背景样式
*/
.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-image: url("../img/home_bg.png");
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/*
    二维码背景区域样式
*/
.body-center {
    display: flex;
    width: 632px;
    height: 383px;
    flex-direction: row;
    background-image: url("../img/home_center_bg.png");
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin-top: 280px;
    overflow: hidden;
}

/*
 二维码一列 样式
*/
.code-ios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;

}

.tv-ios {
    color: #b7bde1;
    margin-bottom: 17px;
    font-size: 18px;

}

.iv-ios {
    margin-top: 17px;

}

.code-img{
    width: 208px;
    height: 208px;
}